{% extends 'base/layout.html' %}
{% load static %}
{% block userdefined %}
<style>
.container{
    padding-top: 50px;
}

</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home/">Back <span class="sr-only">(current)</span></a>
        </li>
        
           
          </div>
        </div>
      </nav>
   
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <!-- <img src="/static/logo.png" alt="image not found" width="200" height="200" class="ml-5"> -->
            <p class="h2 text-uppercase mb- text-center text-info">Login</p>
            <form method="POST" >
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                </div>
                {% if messages %}
                {% for r in messages %}
                <div class="alert alert-primary" role="alert">
                     {{r}}
                </div>
                {% endfor %}
                {% endif %}
                <input type="submit" name="login" class="btn btn-info btn-block" value="Login">
                
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

{% endblock %}
